@model TrocaLivro.Aplicacao.CasosDeUsos.TrocaSolicitadaViewModel

<div class="card card-produto troca-solicitada" >
    <div class="img-container">
        @if (Model.Livro.Imagem != null)
        {
            <img src="@Model.Livro.Imagem" class="" alt="...">
        }
        else
        {
            <partial name="~Views/Shared/_ImgNaoEncontrada.cshtml"  />          
        }
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Livro.Titulo</h5>
        <p class="card-text">@Model.Livro.DescricaoFormatadaParaCard</p>
        @*<div class="text-center"><small>Pontos necessários: @Model.Pontos</small></div>*@
 
        <a href="#" data-id="@Model.TrocaId"  class="btn btn-outline-dark btn-block btn-detalhes" 
            data-loading-text="Processando...">Detalhes
        </a>
        
    </div>
</div>
