@model TrocaLivro.Aplicacao.ViewModels.TrocaViewModel

<div class="row">
    <div class="col-md-12">
        <h3>Detalhes da troca:</h3>        
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Dados do livro:</h4>
                        <hr style="margin-top:0px" />
                        <h5>@Model.TituloLivro</h5>
                    </div> 
                    <div class="col-md-2">
                        <img src="@Model.Capa" style="max-width:100%" />
                    </div>
                    <div class="col-md-8">
                        <ul class="list-unstyled">
                            <li id="status-atual">
                                <strong>Status atual:</strong> @Model.ObterStatusFormatado()
                            </li>
                            <li><strong>Pontos:</strong> @Model.Pontos </li>
                            <li><strong>Aprovado em:</strong> @Model.DataAprovacaoTroca </li>
                            <li><strong>Enviado em:</strong> @Model.DataEnvio </li>
                            <li><strong>Recebido em:</strong> @Model.DataRecebimento </li>
                            <li><strong>Solicitado troca em:</strong> @Model.DataSolicitacaoTroca </li>
                            <li><strong>Solicitado por:</strong> @Model.SolicitadoPor </li>
                            <li>
                                <strong>Descritivo informado pelo dono:</strong><br />
                                @Html.Raw(Model.Descritivo)
                            </li>
                        </ul> 
                    </div>
                    
                    @if (Model.Imagens.Count > 0)
                    {
                        <div class="col-md-12 mt-3">
                            <strong>Imagens reais do livro, enviadas pelo usuário:</strong>
                            <div class="row">
                                @foreach (var item in Model.Imagens)
                                {
                                    <div class="col-md-3">
                                        <div class="card text-center">
                                            <div class="card-body">
                                                <img src="@item" class='img-livro' style='max-width:100px; ' />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                    @if (!string.IsNullOrEmpty(Model.EnderecoEntrega))
                    {
                        <div class="col-md-12 mt-3 " >
                            <div style="background-color:#eee; color:#333; border-radius:5px;padding:15px">
                                <strong>Endereço de entrega:</strong>
                                <div>
                                @Html.Raw(Model.EnderecoEntrega)
                                </div>
                            </div>
                        </div>
                    }
                 </div>
             </div>
        </div>
    </div>
    <div class="col-md-12 pt-3">
        <a class="btn btn-outline-dark btn-sm btn-voltar" href="#">
            <i class="fa fa-chevron-left"></i> Voltar para lista
        </a> 
        @if (Model.PodeMarcarComoEnviado())
        {
            <button class="btn btn-outline-success btn-sm" type="button" data-id="@Model.TrocaId" id="btn-marcar-como-enviada">
                Marcar troca como enviada
            </button>
        }

        @if (Model.PodeMarcarComoRecebido())
        {
            <button class="btn btn-outline-success btn-sm" type="button" data-id="@Model.TrocaId" id="btn-marcar-como-recebido">
                Marcar troca como recebido
            </button>
        }

        @if (Model.NaoFoiAprovado())
        {
            <a data-id="@Model.TrocaId" class="btn btn-sm btn-aprovar btn-outline-success"
                data-loading-text="Processando...">Aprovar troca</a>
            <a data-id="@Model.TrocaId" class="btn btn-sm btn-rejeitar btn-outline-danger"
                data-loading-text="Processando...">Rejeitar troca</a>
        }
    </div>
</div>