@model TrocarLivroViewModel

<form asp-action="Solicitar" method="post" id="form-solicitacao">
    <div class="row mt-2" >
        <div class="col-md-12">
            <h2>@Html.Raw(Model.TituloDestaque)</h2>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                        <div class="alert col-md-12 alert-danger hidden" id="form-error"> </div>
                    <div class="row">
                        <div class="col-md-1">
                            <img src="@Model.Capa" style="max-width:100%" />
                        </div>
                        <div class="col-md-11">
                            <h3>@Model.TituloLivro</h3>
                            <strong>Descritivo informado pelo dono:</strong><br />
                            <p>@Html.Raw(Model.Descritivo)</p>
                        </div>
                    </div>

                    @if (Model.Imagens.Count > 0)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Imagens do livro</legend>
                                    <div class="row" id="imgs-atuais-container">
                                        @foreach (var item in Model.Imagens)
                                        {
                                            <div class="col-md-2 d-flex m-3 align-items-stretch img-atual  card"  >
                                                <div class="img-livro-container text-center pt-2 pb-2">
                                                    <img src="@item" class='img-livro' style='max-width:100px; max-height: 100px' />
                                                </div> 
                                            </div>
                                        }
                                    </div>
                                </fieldset>
                                <hr />
                            </div>
                        </div>
                    }

                    <div class="row pt-2">
                        <div class="col-md-12 mb-3">
                            <h4 class="mb-0">Informe abaixo o endereço para entrega:</h4>
                            <small class="text-info " style="font-size:12px">* Ao informar o CEP o sistema tentará preencher automaticamente (Logradouro, Bairro, Uf e Cidade)</small>
                        </div>
                        <div class="col-md-12">
                            <input asp-for="LivroId" type="hidden" />
                            <input asp-for="TrocaId" type="hidden" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group ">
                                <input asp-for="CEP" class="form-control" placeholder="CEP" />
                                <span asp-validation-for="CEP" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="form-group">
                                <input asp-for="Logradouro" class="form-control" placeholder="Logradouro" />
                                <span asp-validation-for="Logradouro" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <input asp-for="Numero" class="form-control" placeholder="Numero"/>
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <input asp-for="Complemento" class="form-control" placeholder="Complemento"/>
                                <span asp-validation-for="Complemento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <input asp-for="Bairro" class="form-control" placeholder="Bairro" />
                                <span asp-validation-for="Bairro" class="text-danger" ></span>
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="form-group">
                                
                                <input asp-for="Cidade" class="form-control" placeholder="Cidade" />
                                <span asp-validation-for="Cidade" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <select asp-for="UF" asp-items="Model.Estados" class="form-control"  placeholder="UF" >
                                    <option value="">Selecione o UF</option>
                                </select>
                                <span asp-validation-for="UF" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <button type="button" id="btn-solicitar" data-loading-text="Processando, aguarde..." data-livro-id="@Model.LivroId" 
                data-disponibilizacao-troca-id="@Model.TrocaId" 
                class="btn btn-block btn-outline-dark">Concluir solicitação do livro
            </button>
        </div>
    </div>
</form>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/livro/Troca.js"></script>
    <script>
        let troca = new Troca();
    </script>
}