@model MinhaContaViewModel
@{
    ViewData["Title"] = "Solicitações de troca aguardando aprovação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Minha conta » <small>Meus dados</small></h1>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="tabs-minha-conta"  role="tablist" aria-orientation="vertical" data-color="dark">
            <a role="tab" data-toggle="pill" aria-selected="true"  id="editar-usuario-tab"                class="nav-link active" href="#editar-usuario"                aria-controls="editar-usuario">Perfil</a>
            <a role="tab" data-toggle="pill" aria-selected="false" id="meus-livros-tab"                   class="nav-link"        href="#meus-livros"                   aria-controls="meus-livros"  >Livros que cadastrei</a>
            <a role="tab" data-toggle="pill" aria-selected="false" id="trocas-solicitadas-tab"            class="nav-link"        href="#trocas-solicitadas"            aria-controls="trocas-solicitadas" >Livros que me solicitaram</a>
            <a role="tab" data-toggle="pill" aria-selected="false" id="trocas-que-solicitei-tab"          class="nav-link"        href="#trocas-que-solicitei"          aria-controls="trocas-que-solicitei" >Livros que solicitei troca</a>
            <a role="tab" data-toggle="pill" aria-selected="false" id="livros-disponibilizados-troca-tab" class="nav-link"        href="#livros-disponibilizados-troca" aria-controls="livros-disponibilizados-troca"  >Livros que disponibilizei para troca</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="minha-conta-tabs-container">
            <div role="tabpanel" class="tab-pane show active" id="editar-usuario"                aria-labelledby="editar-usuario-tab" data-action="@Url.Action("_Editar","Usuario")"></div>
            <div role="tabpanel" class="tab-pane"             id="meus-livros"                   aria-labelledby="meus-livros-tab" data-action="@Url.Action("_CadastradosPeloUsuario","Livro")"></div>
            <div role="tabpanel" class="tab-pane"             id="trocas-solicitadas"            aria-labelledby="trocas-solicitadas-tab" data-action="@Url.Action("_TrocasSolicitadasAoUsuarioLogado","Troca")"></div>
            <div role="tabpanel" class="tab-pane"             id="trocas-que-solicitei"          aria-labelledby="trocas-que-solicitei-tab" data-action="@Url.Action("_TrocasSolicitadasPeloUsuarioLogado","Troca")"></div>
            <div role="tabpanel" class="tab-pane"             id="livros-disponibilizados-troca" aria-labelledby="livros-disponibilizados-troca-tab" data-action="@Url.Action("_LivrosDisponibilizadosParaTroca","Troca")"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/usuario/MinhaConta.js"></script>
}
