@model LivroDetalhes

@{
    ViewData["Title"] = "Detalhes do livro " + Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="row mt-2" id="detalhes-livro" data-livro-id="@Model.Id" data-titulo="@Model.Titulo">
    <div class="col-md-3">
        <img src="@Model.Capa" style="max-width:100%" />
    </div>
    <div class="col-md-9">
        <h1 class="mt-0">@Model.Titulo</h1>
        <h4 class="ator">@Model.Autores </h4>
        <div class="isbn">@Model.ISBN - @Model.NumeroPagina páginas - @Model.Ano</div>
        <p>@Html.Raw(Model.Descricao)</p>
    </div> 
    <div class="col-md-12 pt-2">
        @if (Model.DisponibilizarParaTroca)
        {
            <a asp-action="DisponibilizarParaTroca" asp-controller="Livro" asp-route-id="@Model.Id" class="btn btn-outline-dark">
                Disponibilizar para troca
            </a>
        }

        @if (Model.PodeEditar)
        {
            <a asp-action="Editar" asp-controller="Livro" asp-route-id="@Model.Id" class="btn btn-outline-dark">Editar livro</a>
            <button type="button" class="btn btn-outline-danger" id="btn-deletar" data-id="@Model.Id">Deletar livro</button>
        }
    </div>
</div>

<partial name="_ListaUsuariosOfertando"/>

<partial name="_Avaliacoes" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/livro/DetalhesLivro.js"></script>
    <script src="~/js/livro/AvaliadorLivro.js"></script>
    <script>
        let detalhes = new DetalhesLivro();
    </script>
}