@model CadastrarLivroViewModel

@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<style>
    .img-livro-container{
        height:120px;
    }
</style>
<h1>Cadastrar » <small>Livro</small></h1>

<hr />

<form asp-action="Cadastrar" role="form" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Subtitulo" class="control-label"></label>
                <input asp-for="Subtitulo" class="form-control" />
                <span asp-validation-for="Subtitulo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="height:150px">
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control" style="height:150px"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AutorId" class="control-label">Autor</label>
                <select asp-for="AutorId" multiple class="form-control" style="height:150px">
                    @foreach (var item in Model.Autores)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
                <span asp-validation-for="AutorId" class="text-danger"></span>
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label">Categoria</label>
                <select asp-for="CategoriaId" class="form-control">
                    <option value="">Selecione...</option>
                    @foreach (var item in Model.Categorias)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SubCategoriaId" class="control-label">SubCategoria</label>
                <select asp-for="SubCategoriaId" class="form-control" disabled="disabled">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="SubCategoriaId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EditoraId" class="control-label">Editora</label>
                <select asp-for="EditoraId" class="form-control">
                    <option value="">Selecione...</option>
                    @foreach (var item in Model.Editoras)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
                <span asp-validation-for="EditoraId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NumeroPaginas" class="control-label"></label>
                <input asp-for="NumeroPaginas" class="form-control" />
                <span asp-validation-for="NumeroPaginas" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <fieldset>
                <legend>Imagens:</legend>
                <label class="btn btn-outline-dark">
                    Adicionar imagens
                    <input id="Imagens" name="Imagens" type="file" multiple class="d-none" accept="image/jpeg" />
                </label>
                <div id="imagens-container" class="row"></div>
            </fieldset> <hr />
        </div>

        <div class="col-md-12">
            <a asp-action="Index" class="btn btn-warning">
                <i class="fa fa-chevron-left"></i>
            </a>
            <button type="submit" class="btn btn-dark ">
                <i class="fa fa-save"></i>
                Cadastrar
            </button>
        </div>
    </div>
</form> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        
        $('#Imagens').change(function () {
            let input = this;
            if (input.files) {
                for (var i = 0; i < input.files.length; i++) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        let imagemId = createGuid();
                        let cardHtml = `<div class="col-md-2 d-flex m-3 align-items-stretch  card" data-imagem-id="${imagemId}" >
                            <div class="img-livro-container text-center pt-2 pb-2">
                                <img src="${e.target.result}" class='img-livro' style='max-width:100px; max-height: 100px' />
                            </div>
                            <div class="text-center pb-2">
                                <button class="btn btn-danger btn-sm btn-remover-img" data-imagem-id="${imagemId}" type="button">Remover</button>
                            </div>
                        </div>`;
                        
                        $('#imagens-container').append(cardHtml);

                        $('.btn-remover-img').unbind('click');
                        $('.btn-remover-img').click(function () {
                            let id = $(this).data('imagemId');
                            let index = obterIndiceImagem(id);
                            removerArquivoDoFileList(index);
                            $('.card[data-imagem-id="' + id+'"]').remove();
                        });
                    }

                    reader.readAsDataURL(input.files[i]);
                }
            }
        });

        $("#CategoriaId").change(function () {
            if ($(this).val() !== "") {
                let categoriaId = parseInt($(this).val());
                $.getJSON("/Livro/ObterSubCategorias/", { categoriaId: categoriaId }, function (subCategorias) {
                    if (subCategorias) {
                        let options = ['<option value="">Selecione</option>'];

                        subCategorias.forEach(subCategoria => {
                            options.push(`<option value="${subCategoria.id}">${subCategoria.nome}</option>`);
                        });

                        $("#SubCategoriaId").html(options.join(''));
                        $("#SubCategoriaId").prop("disabled",false)
                    }

                }).fail(function () {

                });
            }
        });

        function obterIndiceImagem(imagemId) {
            let indice = -1;
            $(".card").each(function (index, elemento) {
                if ($(elemento).data('imagemId') === imagemId) {
                    indice = index;
                    return;                   
                }
            });
            return indice;
        }

        function removerArquivoDoFileList(indiceDoArquivo) {
            const dt = new DataTransfer();
            const input = document.querySelector('#Imagens');
            const { files } = input

            for (let i = 0; i < files.length; i++) {
                const file = files[i]
                if (indiceDoArquivo !== i)
                    dt.items.add(file);
            }

            input.files = dt.files;
        }
        function createGuid() {
            let S4 = () => Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
            let guid = `${S4()}${S4()}-${S4()}-${S4()}-${S4()}-${S4()}${S4()}${S4()}`;

            return guid.toLowerCase();
        }
    </script>
}
