@model LivroDetalhes

@{
    ViewData["Title"] = "Detalhes do livro " + Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="row mt-3" id="detalhes-livro" data-livro-id="@Model.Id" data-titulo="@Model.Titulo">
    <div class="col-md-3">
        <img src="@Model.Capa"  class="capa" />
    </div>
    <div class="col-md-9">
        <h1 class="mt-0">@Model.Titulo</h1>        
        <p>@Html.Raw(Model.Descricao)</p>
    </div> 
    <div  class="col-md-12 pt-2">
        <table class="table table-borderless table-striped">
            <tr>
                <td width="10%"><strong>Autores:</strong></td>
                <td>@Model.Autores</td>
            </tr>
            <tr>
                <td><strong>Editora:</strong></td>
                <td>@Model.Editora</td>
            </tr>
            <tr>
                <td><strong>ISBN:</strong></td>
                <td>@Model.ISBN</td>
            </tr>
            <tr>
                <td><strong>Ano:</strong></td>
                <td>@Model.Ano</td>
            </tr>
            <tr>
                <td><strong>Páginas:</strong></td>
                <td>@Model.NumeroPagina</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12 pt-2" id="detalhes-livro-acoes">
        @if (Model.DisponibilizarParaTroca)
        {
            <a asp-action="DisponibilizarParaTroca" asp-controller="Livro" asp-route-id="@Model.Id" class="btn mb-2 btn-outline-dark">
                Disponibilizar para troca
            </a>
        }

        @if (Model.PodeEditar)
        {
            <a asp-action="Editar" asp-controller="Livro" asp-route-id="@Model.Id" class="btn mb-2 btn-outline-dark">Editar livro</a>
            <button type="button" class="btn mb-2 btn-outline-danger" id="btn-deletar" data-id="@Model.Id">Deletar livro</button>
        }
    </div>
    
</div>

<partial name="_ListaUsuariosOfertando"/>

<div id="avaliacoes-container">
    <partial name="_Avaliacoes" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/livro/DetalhesLivro.js"></script>
    <script src="~/js/livro/AvaliadorLivro.js"></script>
    <script>
        let detalhes = new DetalhesLivro();
    </script>
}