@model DisponibilizarLivroParaTrocaViewModel

@{
    ViewData["Title"] = "Disponibilizar livro para troca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="row mt-3">
    <div class=col-md-12>
    <h2>Você está disponibilizando o livro abaixo para troca.</h2>
    
    <div class="card p-3 col-md-12">
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="@Model.Imagem" style="max-width:100px" />
            </div>
            <div class="col-md-10">
                <h3>@Model.Titulo</h3>
                <div class="ator pb-2">@Model.Autores </div>
                <div class="isbn pb-2">@Model.ISBN - @Model.NumeroPagina páginas - @Model.Ano</div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-12 p-3">
                <form id="form-disponibilizacao" method="post" asp-action="DisponibilizarParaTroca" asp-controller="Livro"
                        enctype="multipart/form-data" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="LivroId" />

                    <div class="form-group">
                        <label for="Descritivo">Descritivo:</label>
                        <textarea class="form-control" asp-for="Descritivo" rows="5"></textarea>
                        <span asp-validation-for="Descritivo"  class="text-danger"></span>
                        <div>
                        <small class="text-muted">
                            * Faça uma breve descrição do estado em que se encontra o livro que você está oferecendo para troca.
                        </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Pontos">Selecione quantos pontos deseja receber por esse livro:</label>
                        <select asp-for="Pontos" class="form-control">
                            <option value="">Selecione...</option>
                            @for (var i = 1; i <= Model.MaximoDePontos; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <span asp-validation-for="Pontos"  class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Descritivo">Imagens:</label><br />
                       
                        <label class="btn btn-outline-dark">
                            Adicionar imagens
                            <input id="Imagens" name="Imagens" type="file" multiple class="d-none" accept="image/jpeg" />
                        </label>
                        <div id="imagens-container" class="row"></div> 
                    </div>
                    <button class="btn btn-block btn-success" type="button" id="btn-disponibilizar-troca" data-loading-text="Processando, aguarde..."> 
                        Disponibilizar
                    </button>
                </form>
            </div>
        </div>
    </div>
    </div>
</div> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/livro/DisponibilizarLivroParaTroca.js"></script>
    <script>
        var disponibilizarLivroParaTroca = new DisponibilizarLivroParaTroca();
    </script>
}
