@model EditarLivroViewModel

@{
    ViewData["Title"] = "Editando livro " + Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<h1>Editando » <small>Livro: @Model.Titulo</small></h1>

<hr />

<form asp-action="Cadastrar" role="form" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" class="form-control" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Subtitulo" class="control-label"></label>
                <input asp-for="Subtitulo" class="form-control" />
                <span asp-validation-for="Subtitulo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="height:150px">
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control" style="height:150px"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AutorId" class="control-label">Autor</label>
                <select asp-for="AutorId" multiple class="form-control" style="height:150px">
                    @foreach (var item in Model.Autores)
                    {
                        if (Model.AutorId.Any(autorId => item.Id == autorId))
                        {
                            <option value="@item.Id" selected="selected">@item.Nome</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    }
                </select>
                <span asp-validation-for="AutorId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EditoraId" class="control-label">Editora</label>
                <select asp-for="EditoraId" class="form-control">
                    <option value="">Selecione...</option>
                    @foreach (var item in Model.Editoras)
                    {
                        if (item.Id == Model.EditoraId)
                        {
                            <option value="@item.Id" selected="selected">@item.Nome</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    }
                </select>
                <span asp-validation-for="EditoraId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label">Categoria</label>
                <select asp-for="CategoriaId" class="form-control" data-id="@Model.CategoriaId">
                    <option value="">Selecione...</option>
                    @foreach (var item in Model.Categorias)
                    {
                        if (item.Id == Model.CategoriaId)
                        {
                            <option value="@item.Id" selected="selected">@item.Nome</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    }
                </select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SubCategoriaId" class="control-label">SubCategoria</label>
                <select asp-for="SubCategoriaId" class="form-control">
                    <option value="">Selecione...</option>
                    @foreach (var item in Model.SubCategorias)
                    {
                        if (item.Id == Model.SubCategoriaId)
                        {
                            <option value="@item.Id" selected="selected">@item.Nome</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    }
                </select>
                <span asp-validation-for="SubCategoriaId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="NumeroPaginas" class="control-label"></label>
                <input asp-for="NumeroPaginas" class="form-control" />
                <span asp-validation-for="NumeroPaginas" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <fieldset>
                <legend>Imagens:</legend>
                <label class="btn btn-outline-dark">
                    Adicionar imagens
                    <input id="Imagens" name="Imagens" type="file" multiple class="d-none" accept="image/jpeg" />
                </label>
                <div id="imagens-container"></div>
            </fieldset> <hr />
        </div>

        <div class="col-md-12">
            <a asp-action="Index" class="btn btn-warning">
                <i class="fa fa-chevron-left"></i>
            </a>
            <button type="submit" class="btn btn-dark ">
                <i class="fa fa-save"></i> Atualizar
            </button>
        </div>
    </div>
</form> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#Imagens').change(function () {
            let input = this;
            if (input.files) {
                for (var i = 0; i < input.files.length; i++) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        let imagemUpada = $(`<img src="${e.target.result}" class='img-livro' />`);
                        let containerImg = $('<div class="item p-2" />');
                        containerImg.html(imagemUpada);
                        $('#imagens-container').append(containerImg);
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        });
    </script>
}
