@model TrocarLivroViewModel

<div class="row mt-2" >
    <h1>
        Você está prestes a obter o livro <strong>@Model.TituloLivro</strong> por <strong>@Model.Pontos</strong>
    </h1>
    <div class="col-md-3">
        @*<img src="@Model.Capa" style="max-width:100%" />*@
    </div>
    <div class="col-md-9">
        <h1>@Model.TituloLivro</h1>
        <p>@Html.Raw(Model.Descritivo)</p>
    </div>
</div>